.headerlogo{
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding: 0px 15px;
    letter-spacing: 1px;
    font-weight: bold;

}

img{
    width: 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);

}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

ul{
    display: flex;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    
    
}
ul li {
    margin-left: 15px;
    
  }

ul li:first-child{
    margin-left: 0;
}
nav{
    position: relative;
    z-index: 2;
}

.header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000; 
    padding: 0px;
  }

  .header.original-bg {
    background-color: transparent; 
    padding: 15px;
  }