
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5 in this case) to control the darkness */
    z-index: 1; /* Set a higher z-index to place it above other content */
  }


#maindiv h1{
    
    color: inherit;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    /* font-family: "Lato", sans-serif; */
    margin: 20px;
    animation: title 2s ease-in forwards;
    position: relative;
    
}
#maindiv h2{
    text-decoration: none;
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    animation: content 2s ease-in forwards;
    position: relative;
}

#maindiv{
    /* background-color: rgba(28, 40, 68, 0.484); */
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: white;
    z-index: 2; 
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.transition1{
    display: flex;
    margin: 0 15px;
    max-width: 960px;

}

@keyframes title {
    0% {top: -100vh;}
    100% {top: 0;}
  }


  @keyframes content {
    0% {bottom: -100vh;}
    100% {bottom: 0;}
  }

.about{
    text-align: center;
    margin-top: 20px; /* Add a margin to separate it from the maindiv */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    font-family: "Lato", sans-serif;
    padding-top: 90px;

}

.about img{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    object-fit: cover;
    
}

.about p {
    font-size: 16px;
    max-width: 650px;
    margin: 30px auto;
}

.container{
    position: relative;
    height: 100vh; 
    overflow-y: auto;
    background-image: url(./background-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255); 
}
